services:
  dockerdev:
    build: .
    container_name: dockerdev
    volumes:
      - C:\repos:/home/developer/repos:cached
    working_dir: /home/developer/repos
    stdin_open: true
    tty: true
    command: /bin/bash
